<a href="https://colab.research.google.com/github/wonjae124/python/blob/main/join_method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# join 메소드
# 리스트를 문자열로 바꾸어주는 함수
# 조인 앞에는 붙여줄 때 같이 붙을 수를 말한다. 단, 문자열로 말이다.
# 뒤에도 문자열이 들와야 한다.
i = ['1','21','34','23','15']
k = [str(x) for x in i]
# default는 문자는 사전순서 ABCDE, 숫자는 오름차순 12345
# 4번 반복한 이유는 
k.sort(key = lambda x : (x*4)[:4],reverse=True)
answer = ''.join(k)
print(answer)

342321151

In [12]:
k

['34', '23', '21', '15', '1']

In [3]:
print('/'.join('31321'))

3/1/3/2/1

In [ ]:
print('/'.join(i))