<a href="https://colab.research.google.com/github/wonjae124/python/blob/main/print_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s1 = "hi hello"
print("I said %s"%s1)

I said hi hello

In [2]:
i1 = 132
print("i have %d"%i1)

i have 132

In [3]:
i1 = 132.2
print("i have %d"%i1)

i have 132

In [5]:
a = 123.2
print('i have %f'%formate(a))
print('i have %.1f'%a)

i have 123.200000
i have 123.2

In [10]:
a = 2
b = 3

s = '구구단 {0} X {1} = {2}'.format(a, b, a*b)
print(s)

구구단 2 X 3 = 6

In [11]:
s1 = 'name : {0}'.format('BlockDMask')
print(s1)

name : BlockDMask

In [12]:
age = 55
s2 = 'age : {0}'.format(age)
print(s2)

age : 55

In [14]:
s3 = 'numer : {num}, gender : {gen}'.format(num=1234, gen='남')
print(s3)

numer : 1234, gender : 남