<a href="https://colab.research.google.com/github/wonjae124/python/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트 표기법



```
1. expr for val in collection if condition

2. 
result = []
for val in collection:
  if condition:
    result.append(expr)
```

In [110]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

# 슬라이싱 리스트 자료형(배열, 튜플, ndarray)
색인 연산자 [ ]안에 start:stop을 지정해서 원하는 크기만큼 잘라낸다.

In [ ]:
import numpy as np

seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq1 = (7, 2, 3, 7, 5, 6, 0, 1)
seq2 = np.array([7, 2, 3, 7, 5, 6, 0, 1])

print(seq[1:5]) # seq[1]에서 seq[4]로 인덱스 5이전까지로 슬라이싱
print(seq1[1:5])
print(seq2[1:5])

print(type(seq))
print(type(seq1))
-print(type(seq2))

[2, 3, 7, 5]
(2, 3, 7, 5)
[2 3 7 5]
<class 'list'>
<class 'tuple'>
<class 'numpy.ndarray'>

--------------------------------------------------------------------------------
슬라이스에 다른 순차형 자료 대입 가능. value 7을 6, 3으로 교환 함. 곧 원소 하나 증가함

In [ ]:
seq[3:4] = [6, 3]

------------------------------------------------
1. 두 번째 콜론 다음으로 간격 지정 가능
2. -1이면 역순으로 반환 함
------------------------------------------------

In [ ]:
seq[::2]

[7, 3, 5, 0]



---
콜론 앞 혹은 뒤가 생략돼 있으면 자료형의 맨 처음 혹은 마지막 값을 뜻 함

In [ ]:
seq[:5]

[7, 2, 3, 7, 5]

In [ ]:
seq[:3]

[7, 2, 3]



---


# 파이썬의 내장 순차형 자료 함수
1. enumerate는 (index,value)
2. sorted, default는 ascending(오름차순)
3. zip, 여러 개의 리스트나 튜플 또는 다른 순차 자료형을 서로 짝지어서 튜플의 리스트 생성, 반환 크기는 옮겨 받은 순차 자료형중 가장 짧은 크기로 지정

In [ ]:
seq[::-1]

[1, 0, 6, 5, 7, 3, 2, 7]



*   리스트는 대괄호 []
*   튜플은 소괄호 ()
*   딕셔너리는 중괄호 {key,value}

In [ ]:
some_list = ['foo','bar','baz']
mapping = {}

for i,v in enumerate(some_list):
  mapping[v] = i

mapping

{'bar': 1, 'baz': 2, 'foo': 0}



---

In [ ]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [ ]:
sorted('horse race') #문자

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [ ]:
seq1 = ['foo','bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped) #list명령어 가 뭐죠?

[]

# 삼항 표현식
if else 블록을 한 줄로 표현 할 수 있도록 함

```
# value = true-expr if condition else false-expr

```

```
#  if condition:
   value = true-expr
else:
  vaue = false-expr
```

In [ ]:
x = 5
'Non-negative' if x>=0 else 'Negative'
'Non-negative'

'Non-negative'

# 흐름 제어

1. [if,elif,else]
   pass는 아무 것도 안 하고 통과 한다.
2. [for]
   튜플이나 리스트 같은 컬렉션, 이터레이터 순회, continue 사용시 해당 for문의 남은 블록 건너 뛴다. 다음 순회 시작 함. break문 이용해서 가장 안 쪽의 for문만 종료 시킬 수 있음
3. [while]

In [ ]:
x=-0

if x<0 :
  print("it's negative")
elif x==0:
   print("Equal to zero")
   pass
elif 0<x<5:
  print("Positive but smaller than 5")
else:
  print('Positive and larger than or equal to 5')

Equal to zero

In [ ]:
sequence = [1, 2, None, 4, None, 5]
total = 0
# sequence에서 None이 아닌 정수끼리 sum을 한다.
for value in sequence:
  if value is None:
    continue
  total += value

print(total)

12

In [ ]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
  if value == 5:
    break #1+2+0+4+6 = 13 
  total_until_5 += value
total_until_5

13




---


*   //는 몫
*   /는 몫,나머지
*   %는 나머지

In [ ]:
x = 256
total = 0
while x>0:
  if total>500:
    break
  total+=x
  x = x//2
total

504

#is문과 ==의 차이점
```
# is문은 object간 비교
  ==는 value간 비교한다.
```

출처 : https://codechacha.com/ko/python-difference-between-is-and-equals/

In [ ]:
#a와 b는 다른 객체임
a = []
b = []
c = a

result = (a is b)
print("a is b ?", result)

result = (a is c)
print("a is c ?", result)

result = (b is c)
print("b is c ?", result)

a is b ? False
a is c ? True
b is c ? False

In [ ]:
a = []
b = []
c = a

result = (a == b)
print("a == b ?", result)

result = (a == c)
print("a == c ?", result)

result = (b == c)
print("b == c ?", result)

a == b ? True
a == c ? True
b == c ? True

# 제너레이터 사용하기
 Yield

1.   dictionary 자료형에서는 앞의 key값을 반환
2.   생성 위해서는 return  대신 yield 예약어 사용

In [ ]:
some_dict = {'a':1, 'b':2, 'c':3}

for key in some_dict:
  print(key)

['a', 'b', 'c']
a
b
c

In [ ]:
dict_iterator = iter(some_dict)
list(dict_iterator)

['a', 'b', 'c']

In [ ]:
def squares(n=10):
  print('Generationg squares from 1 to {0}'.format(n**2))
  for i in range(1,n+1):
    yield i**2

In [ ]:
gen = squares()
gen

In [ ]:
for x in gen:
  print(x,end=' ') #end의 default는 \n이고 sep의 default는 공백

Generationg squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

# 제너레이터 표현식


*   제너레이터 생성시 소괄호로 묶어준다.
*

In [ ]:
gen = (x**2 for x in range(100))
gen

In [ ]:
seq = gen
for x in gen:
  print(x, end=' ')

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801