<a href="https://colab.research.google.com/github/wonjae124/python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D_%EC%8B%A4%EB%AC%B4%ED%85%8C%ED%81%AC%EB%8B%89_1%EC%9E%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import io

In [2]:
customer_master = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pyda100-master/1장/customer_master.csv')
customer_master.head()

  customer_id customer_name registration_date  ... age       birth   pref
0    IK152942           김서준   2019-01-01 0:25  ...  29  1990-06-10  대전광역시
1    TS808488           김예준   2019-01-01 1:13  ...  33  1986-05-20  인천광역시
2    AS834628           김도윤   2019-01-01 2:00  ...  63  1956-01-02  광주광역시
3    AS345469           김시우   2019-01-01 4:48  ...  74  1945-03-25  인천광역시
4    GD892565           김주원   2019-01-01 4:54  ...  54  1965-08-05  울산광역시

[5 rows x 8 columns]

In [3]:
item_master = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/pyda100-master/1장/item_master.csv")
item_master.head()

  item_id item_name  item_price
0    S001      PC-A       50000
1    S002      PC-B       85000
2    S003      PC-C      120000
3    S004      PC-D      180000
4    S005      PC-E      210000

In [4]:
transaction_1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pyda100-master/1장/transaction_1.csv')
transaction_1.head()

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

In [5]:
#데이터를 세로 방향으로 결합(Union), 유니언
transaction_2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pyda100-master/1장/transaction_2.csv')
transaction_2.head()

transaction_detail_1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pyda100-master/1장/transaction_detail_1.csv')
transaction_detail_1.head()

   detail_id transaction_id item_id  quantity
0          0    T0000000113    S005         1
1          1    T0000000114    S001         1
2          2    T0000000115    S003         1
3          3    T0000000116    S005         1
4          4    T0000000117    S002         2

In [6]:
transaction = pd.concat([transaction_1, transaction_2], ignore_index = True)
transaction.head()

  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

In [7]:

print(len(transaction_1))
print(len(transaction_2))
print(len(transaction))

5000
1786
6786

In [8]:
transaction_detail_1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pyda100-master/1장/transaction_detail_1.csv')
transaction_detail_2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pyda100-master/1장/transaction_detail_2.csv')
transaction_detail = pd.concat([transaction_detail_1, transaction_detail_2], #데이터 프레임 변수에 저장
                               ignore_index=True)
transaction_detail.head()

   detail_id transaction_id item_id  quantity
0          0    T0000000113    S005         1
1          1    T0000000114    S001         1
2          2    T0000000115    S003         1
3          3    T0000000116    S005         1
4          4    T0000000117    S002         2

In [9]:
print(len(transaction_detail_2))
print(len(transaction_detail_1))
print(len(transaction_detail))

2144
5000
7144

In [10]:
join_data = pd.merge(transaction_detail, transaction[["transaction_id","payment_date","customer_id"]],on ="transaction_id",how="left")
join_data.head()

   detail_id transaction_id item_id  quantity         payment_date customer_id
0          0    T0000000113    S005         1  2019-02-01 01:36:57    PL563502
1          1    T0000000114    S001         1  2019-02-01 01:37:23    HD678019
2          2    T0000000115    S003         1  2019-02-01 02:34:19    HD298120
3          3    T0000000116    S005         1  2019-02-01 02:47:23    IK452215
4          4    T0000000117    S002         2  2019-02-01 04:33:46    PL542865

In [11]:
join_data = pd.merge(join_data, customer_master, on="customer_id", how="left")
join_data = pd.merge(join_data, item_master, on = "item_id", how="left")
join_data.head()

   detail_id transaction_id item_id  ...   pref item_name item_price
0          0    T0000000113    S005  ...  대전광역시      PC-E     210000
1          1    T0000000114    S001  ...  서울특별시      PC-A      50000
2          2    T0000000115    S003  ...  광주광역시      PC-C     120000
3          3    T0000000116    S005  ...  인천광역시      PC-E     210000
4          4    T0000000117    S002  ...  광주광역시      PC-B      85000

[5 rows x 15 columns]

In [12]:
#tech5. 필요한 데이터 칼럼을 만들자(데아터 가공)
join_data["price"] = join_data["quantity"]*join_data["item_price"]
join_data[["quantity","item_price","price"]].head()

   quantity  item_price   price
0         1      210000  210000
1         1       50000   50000
2         1      120000  120000
3         1      210000  210000
4         2       85000  170000

In [14]:
print(join_data["price"].sum())
print(transaction["price"].sum())

971135000
971135000

In [15]:
#verfication data
join_data["price"].sum()==transaction["price"].sum()

True

# **Tech. 007.**
각종 통계량을 파악
---

In [22]:
#코드의 결손치 개수를 출력
#isnull()은 True/False 반환
join_data.isnull().sum()

detail_id            0
transaction_id       0
item_id              0
quantity             0
payment_date         0
customer_id          0
customer_name        0
registration_date    0
email                0
gender               0
age                  0
birth                0
pref                 0
item_name            0
item_price           0
price                0
dtype: int64

In [20]:
#describe는 숫자데이터를 집계해준다.
#데이터 개수(count), 평균값(mean), 표준편차(std), 최솟값(min), 사분위수(25%, 75%)
#price의 %75를 보면 단가가 210,000원인 컴퓨터를 2대 산 사람이이 있음.
#quantity의 max를 보면 4이지만 75%는 1이기 때문에 대부분의 사람들은 한 개를 구매한다.
#age는 Min 20살부터 Max 80살까지다.

join_data.describe()

         detail_id     quantity          age     item_price          price
count  7144.000000  7144.000000  7144.000000    7144.000000    7144.000000
mean   3571.500000     1.199888    50.265677  121698.628219  135937.150056
std    2062.439494     0.513647    17.190314   64571.311830   68511.453297
min       0.000000     1.000000    20.000000   50000.000000   50000.000000
25%    1785.750000     1.000000    36.000000   50000.000000   85000.000000
50%    3571.500000     1.000000    50.000000  102500.000000  120000.000000
75%    5357.250000     1.000000    65.000000  187500.000000  210000.000000
max    7143.000000     4.000000    80.000000  210000.000000  420000.000000